
<form action="<%= new_note_url %>" method="post">
  <label>Title
    <input type="string" name="note[title]" value="">
  </label>

  <textarea name="note[body]" rows="8" cols="40">Body</textarea>

  <button>Submit</button>
</form>
