<h1>Bands Index</h1>

<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      Edit
    </td>
  </tr>
  <% @bands.each do |band| %>
  <tr>
    <td>
      <%= band.name %>
    </td>
    <td>
      <a href="<%= bands_url %>">Edit</a>
    </td>
  </tr>
  <% end %>
</table>

<a href="<%= new_band_url %>">Add Band</a>
