<h1>New Band</h1>

<form action="<%= bands_url %>" method="post">
    <%= auth_token %>

    <label>Band Name
      <input type="text" name="band[name]" value="@band.name">
    </label>

    <button>Submit</button>
</form>

<a href="<%= bands_url %>">All Bands</a>
